.nav-header ul {
    display: flex;
    gap: 20px;
}

.nav-header li {
}

.container {
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    ф gap: 10px;
}

footer {
    flex-shrink: 0;
    padding-bottom: 10 px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

html {
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
}
