@page
@model Web_App.Pages.Task5Model
@{
}

<head>
    <style>
        .customfooter {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            background-color: white;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .column {
            margin-left: 10px;
            min-width: 150px;
        }

        nav {
            background-color: rgb(0, 0, 35);
            display: flex;
            justify-content: center;
            padding: 10px;
            margin-bottom: 0px;
        }

            nav a {
                color: whitesmoke;
                font-size: 32;
                margin-left: 10px;
                min-width: 200px;
            }

        body {
            background-color: lightgray;
        }

        .card {
            padding: auto;
        }

    </style>

    <link rel="icon" class="img/png" href="icon.png" />
</head>

<body>
    <nav>
        <a href="Task4.html">Страница 4</a>
        <a href="Task4.html">Страница 4</a>
        <a href="Task4.html">Страница 4</a>
        <a href="Task4.html">Страница 4</a>
    </nav>

    <div class="container">
        <div class="column">
            <div>Какой-то текст</div>
            <div>Какой-то текст</div>
            <div>Какой-то текст</div>
            <div>Какой-то текст</div>
            <div>Какой-то текст</div>
            <div>Какой-то текст</div>
        </div>
        <div class="column">
            <div>Какой-то текст</div>
            <div>Какой-то текст</div>
            <div>Какой-то текст</div>
            <div>Какой-то текст</div>

            <div class="card">
                <div class="card-header">
                    текст заголовок
                </div>

                <div class="card-body">
                    текст тело
                </div>
            </div>

            <div>Какой-то текст</div>
            <div>Какой-то текст</div>
            <div>Какой-то текст</div>
            <div>Какой-то текст</div>
        </div>
        <div class="column">
            <div>Какой-то текст</div>
            <div>Какой-то текст</div>
            <div>Какой-то текст</div>
            <div>Какой-то текст</div>
            <div>Какой-то текст</div>
            <div>Какой-то текст</div>
            <div>Какой-то текст</div>
        </div>
    </div>

    <footer class="customfooter">
        <div class="label">Альмухамметов Булат ПИбд-42</div>
    </footer>
</body>
